@import "../../../assets/styles/global.scss";

.add__equipment_container {
  padding: 10px 20px;

  .add__equipment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add__equipment_content {
    padding: 0 50px 10px 0;

    h3 {
      font-family: Nunito;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: $color_orange_bland;
      margin-bottom: 15px;
    }
    .add__equipment_content-wrap {
      width: 100%;
      background-color: $color_white;
      border-radius: 8px;
      .add__equipment_content-title {
        font-family: Nunito;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: $color_orange_bland;
        padding: 20px 0 0 20px;
      }

      .add__equipment_content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 20px 0;
        .add__equipment_content-wrap-left {
          width: 50%;
          margin-right: 30px;
        }
        .add__equipment_content-wrap-right {
          width: 50%;

          .add__equipment_content-select-item {
            // height: 40px;
            border-radius: 8px;
          }
        }
      }
      .add__equipment_content-input {
        margin: 0 20px;
      }
      .add__equipment_content-helper {
        span {
          color: red;
        }
        font-family: Nunito;
        font-size: 14px;
        color: $color_text_sidebar;
        padding: 0 20px 50px;
      }
    }
  }
  .add__equipment_content-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
