@import "../../assets/styles/global.scss";

.wrapper__container {
  display: flex;
  .wrapper__sidebar {
    width: 15%;
  }
  .wrapper__children {
    width: 85%;
    background-color: $bg_color;
    // height: 100vh;
    // padding: 15px 20px;
  }
}
