@import "../../../assets/styles/global.scss";

.number__level__container {
  padding: 10px 20px;
  height: 100vh;

  .number__level__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .number__level__detail__content {
    padding: 0 70px 10px 0;
    position: relative;

    .number__level__detail__content-wrap {
      width: 100%;
      background-color: $color_white;
      border-radius: 8px;
      height: 500px;
      margin-top: 20px;
      .number__level__detail__content-title {
        font-family: Nunito;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: $color_orange_bland;
        padding: 20px 0 0 20px;
      }
      .number__level__detail__content-leftAndRight {
        width: 100%;
        padding: 20px 20px 10px;
        display: flex;
        align-items: center;

        .number__level__detail__content-left {
          width: 50%;
        }
        .number__level__detail__content-right {
          width: 50%;
        }
        .number__level__detail__content-wrapLabelAndValue {
          margin: 10px 0;
          .number__level__detail__content-label {
            font-family: Nunito;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: $color_text_avatar;
            width: 30%;
            display: inline-block;
          }
          .number__level__detail__content-value {
            font-size: 16px;
            line-height: 24px;
            color: $color_text_input;
          }
        }
      }
    }
    .wrap-service {
      padding: 0 20px;
      .number__level__detail__content-useService {
        font-family: Nunito;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $color_text_avatar;
      }
      .number__level__detail__content-useService-content {
        font-family: Nunito;
        font-size: 16px;
        line-height: 24px;
        color: $color_text_input;
      }
    }
    .wrap-btn {
      position: absolute;
      right: -20px;
      top: 60px;
      text-decoration: none;
    }
  }
}
